/*---------------------------
 * font-size
 *---------------------------*/
$fontS: 14px;
$fontM: 15.5px;
$fontL: 17px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$fontColor: #eae9e5;

/* default background color */
$bgc: #0a4f56;

/* other color */

/*---------------------------
 * layout
 *---------------------------*/
$designDrawingWidth: 750;

/* media query */
$break-small: 440px;
$break-large: 960px;

/* default space */
$space: 20px;
$iconMarginR: 5px;

/*---------------------------
 * radius
 *---------------------------*/
$radius: 5px;
