@use 'sass:color';
@use 'variables';
@use 'utilities';
/*---------------------------
 * reset style
 *---------------------------*/
@use '~@cycjimmy/sass-lib/reset/special';

html {
  font-size: variables.$font-m;
  line-height: 1.4;
}

body {
  font-size: variables.$font-m;
  font-family: -apple-system-font, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  color: variables.$font-color;
  background-color: variables.$bgc;
}

/*---------------------------
 * Main Frame
 *---------------------------*/
.main-screen {
  width: 90%;
  min-width: 300px;
  max-width: 960px;
  margin: variables.$space auto;
  padding: variables.$space;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: color.adjust(variables.$bgc, $lightness: 4%);

  // media queries
  @include utilities.media-query(handheld) {
    width: 95%;
    margin: variables.$space * 0.5 auto;
    padding: variables.$space * 0.5;
  }
}

/*---------------------------
 * Other
 *---------------------------*/
.logo-pic {
  width: 80px;
  height: 80px;

  @include utilities.media-query(handheld) {
    width: 70px;
    height: 70px;
  }
  @include utilities.media-query(wideScreen) {
    width: 100px;
    height: 100px;
  }
}

.main-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: variables.$space;

  @include utilities.media-query(handheld) {
    font-size: 16px;
    margin-top: variables.$space * 0.5;
  }
  @include utilities.media-query(wideScreen) {
    font-size: 20px;
  }
}

