@import 'variables';
@import 'utilities';
/*---------------------------
 * reset style
 *---------------------------*/
@import "reset";

html {
  font-size: $fontM;
  line-height: 1.4;
}

body {
  font-size: $fontM;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: $fontColor;
  background-color: $bgc;
}

/*---------------------------
 * Main Frame
 *---------------------------*/
.main-screen {
  width: 90%;
  min-width: 300px;
  max-width: 960px;
  margin: $space auto;
  padding: $space;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lighten($bgc, 4%);

  // media queries
  @include media-query(handheld) {
    width: 95%;
    margin: $space / 2 auto;
    padding: $space / 2;
  }
}

/*---------------------------
 * Other
 *---------------------------*/
.logo-pic {
  width: 80px;
  height: 80px;

  @include media-query(handheld) {
    width: 70px;
    height: 70px;
  }
  @include media-query(wideScreen) {
    width: 100px;
    height: 100px;
  }
}

.main-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: $space;

  @include media-query(handheld) {
    font-size: 16px;
    margin-top: $space / 2;
  }
  @include media-query(wideScreen) {
    font-size: 20px;
  }
}

