doctype html
html(lang='en')
  head
    title Static Webpack Starter
    include includes/meta.pug

  body
    .main-screen
      img.logo-pic(alt="logo" src=require('../images/myLogo.svg'))
      h1.main-title Static Webpack Starter
